<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <th:block th:with="fontUrl='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap'">
            <link rel="stylesheet" th:href="@{${fontUrl}}"/>
        </th:block>

        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

        <link rel="stylesheet" th:href="@{/css/style.css}">

        <style>
            .w-100.text-center a {
                color: black;
            }
        </style>
    </th:block>
</head>
<body>

<div th:fragment="popup">
    <button id="add-transaction-button">Lägg till utgift</button>
    <div id="add-transaction-popup" class="popup">
        <div class="popup-content">
            <span class="close-button">&times;</span>
            <form role="form" id="transaction-form" method="post">
                <div class="form-group">
                    <input type="text" id="description" name="description" placeholder="Anteckning" required>
                </div>
                <div class="form-group">
                    <input type="number" id="amount" name="amount" placeholder="Summa" required>
                </div>

                <div class="form-group">
                    <label for="group-dropdown">Grupper:</label>
                    <select id="group-dropdown" class="form-group">
                    </select>
                </div>
                <div class="form-group">
                    <label for="category-dropdown">Kategori:</label>
                    <select id="category-dropdown" class="form-group">
                    </select>
                </div>
                <input type="submit" value="Spara">
            </form>
        </div>
    </div>
    <!-- Scripts -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/transactionButton.js}"></script>
</div>

<div th:fragment="group-popup">
    <button id="add-group-button">Gå med i grupp</button>
    <div id="add-group-popup" class="popup">
        <div class="popup-content">
            <span class="close-button">&times;</span>
            <form role="form" id="group-form" method="post">
                <div class="form-group">
                    <input type="number" id="groupId" name="groupId" placeholder="Grupp-ID" required>
                </div>
                <input type="submit" value="Gå med">
            </form>
        </div>
    </div>
    <!-- Scripts -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/joinGroup.js}"></script>
</div>

<div th:fragment="removal-popup">
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Bekräfta borttagning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Är du säker på att du vill ta bort?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmationModalYesButton">Ja</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="removal-script">
    <script th:inline="javascript">
        $(document).ready(function() {

            $(document).on("click", ".remove-icon", function(e) {
                e.preventDefault();
                var transactionId = $(this).attr("data-transactionId");
                showConfirmationModal(transactionId);
            });

            function showConfirmationModal(transactionId) {
                var confirmationModalYesButton = $("#confirmationModalYesButton");
                confirmationModalYesButton.attr("data-transactionId", transactionId);
                confirmationModalYesButton.click(function () {
                    var transactionId = $(this).attr("data-transactionId");
                    deleteTransaction(transactionId);
                });
                $("#confirmationModal").modal("show");
            }

            function deleteTransaction(transactionId) {
                console.log("Received transactionId:", transactionId);

                transactionId = parseInt(transactionId);
                console.log("Parsed transactionId:", transactionId);

                if (isNaN(transactionId)) {
                    console.log("Invalid transactionId");
                    return;
                }

                $.ajax({
                    url: "/transactions/" + transactionId + "/remove",
                    type: "POST",
                    success: function(response) {
                        console.log("Transaction deleted successfully");
                        $("#confirmationModal").modal("hide");
                        location.reload();
                    },
                    error: function() {
                        console.log("Error deleting transaction");
                    }
                });
            }
        });
    </script>
</div>

<div th:fragment="menu">
    <div style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: white; padding: 10px;">
        <nav>
            <ul style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
                <li style="list-style: none; margin-right: 20px;"><a th:href="@{'/users'}"><i class="fa fa-home"></i><span style="margin-left: 5px;">Hem</span></a></li>
                <li style="list-style: none; margin-right: 20px;"><a th:href="@{'/groups'}"><i class="fa fa-users"></i><span style="margin-left: 5px;">Grupper</span></a></li>
                <li style="list-style: none; margin-right: 20px;"><a th:href="@{'/logout'}"><i class="fa fa-sign-out"></i><span style="margin-left: 5px;">Logga ut</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>

<div th:fragment="piechart">
    <script th:src="@{/js/Chart.min.js}"></script>
    <canvas id="pie-chart"></canvas>

    <script th:inline="javascript">
        var data = null;
        var options = {
            responsive: true,
            title: {
                display: true,
                text: 'Transactions by Category'
            }
        };

        var ctx = document.getElementById('pie-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });

        fetch('/ass')
            .then(response => response.json())
            .then(responseData => {
                if (responseData && responseData.dataMap) {
                    var labels = Object.keys(responseData.dataMap);
                    var dataValues = Object.values(responseData.dataMap);

                    var backgroundColors = [];
                    for (var i = 0; i < labels.length; i++) {
                        backgroundColors.push(getRandomColor());
                    }

                    var totalAmount = dataValues.reduce((a, b) => a + b, 0);
                    options.title.text = 'Transactions by Category (Total Amount: ' + totalAmount.toFixed(2) + ')';

                    data = {
                        labels: labels,
                        datasets: [{
                            data: dataValues,
                            backgroundColor: backgroundColors
                        }]
                    };

                    chart.data = data;
                    chart.update();
                } else {
                    console.error('Invalid response data');
                }
            })
            .catch(error => console.error(error));

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</div>

<div th:fragment="groupPiechart">
    <script th:src="@{/js/Chart.min.js}"></script>
    <canvas id="group-pie-chart"></canvas>

    <script th:inline="javascript">
        var data = null;
        var options = {
            responsive: true,
            title: {
                display: true,
                text: 'Transactions by Category'
            }
        };

        var ctx = document.getElementById('group-pie-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });

        fetch('/groupTrans/' + [[${group.id}]])
            .then(response => response.json())
            .then(responseData => {
                if (responseData && responseData.dataMap) {
                    var labels = Object.keys(responseData.dataMap);
                    var dataValues = Object.values(responseData.dataMap);
                    console.log([[${group.id}]])
                    var backgroundColors = [];
                    for (var i = 0; i < labels.length; i++) {
                        backgroundColors.push(getRandomColor());
                    }

                    var totalAmount = dataValues.reduce((a, b) => a + b, 0);
                    options.title.text = 'Transactions by Category (Total Amount: ' + totalAmount.toFixed(2) + ')';

                    data = {
                        labels: labels,
                        datasets: [{
                            data: dataValues,
                            backgroundColor: backgroundColors
                        }]
                    };

                    chart.data = data;
                    chart.update();
                } else {
                    console.error('Invalid response data');
                }
            })
            .catch(error => console.error(error));

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</div>


</body>
</html>

