<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <th:block th:with="fontUrl='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap'">
            <link rel="stylesheet" th:href="@{${fontUrl}}"/>
        </th:block>

        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
<div th:fragment="menu">
    <div style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: white; padding: 10px;">
        <!-- Menu items here -->
        <nav>
            <ul style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
                <li style="list-style: none; margin-right: 20px;"><a href="#">Hem</a></li>
                <li style="list-style: none; margin-right: 20px;"><a href="#">Grupper</a></li>
                <li style="list-style: none; margin-right: 20px;"><a href="#">Budget</a></li>
                <li style="list-style: none; margin-right: 20px;"><a href="#">Inställningar</a></li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>

</body>
</html>

