<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spara och Para - Test av home</title>
    <th:block th:replace="~{layout.html :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/test.css}">

    <style>
        .scrollable-column {
            overflow-y: auto;
            max-height: 100vh;
        }
    </style>
    <meta name="_csrf" th:content="${_csrf.token}" />
</head>

<body class="img js-fullheight" style="background-image: url(/images/new.jpg);" id="ihcx">

<div class="gjs-row" id="i7c7">
    <!--Left column-->
    <div class="gjs-cell scrollable-column" id="iqnk">
        <h3 class="mb-4 text-center" th:text="'Välkommen ' + ${firstName} + '!'">Alla användare</h3>
        <div th:each="user : ${users}" class="col-lg-6 mb-2 text-center mx-auto" style="min-width: 250px; max-width: fit-content; border: 1px solid #ccc; background-color: rgba(255, 255, 255, 0.8);">
            <div class="position-relative mb-2">
                <div style="display: inline-block;">
                    <p th:text="${user.email}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!" style="display: inline-block; font-size: 14px;"></p><br>
                    <p th:text="${user.firstName}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!" style="display: inline-block; font-size: 14px;"></p>
                    <p th:text="${user.lastName}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!" style="display: inline-block; font-size: 14px;"></p>
                </div>
            </div>
            <div class="position-relative mb-2">
                <a class="btn btn-primary" th:href="@{/users/{email}/edit(email=${user.email})}">Edit</a>
            </div>
        </div>
    </div>
    <!--Right column-->
    <div class="gjs-cell" id="i0wq">
        <div th:replace="~{layout.html :: piechart}">
        </div>
    </div>
</div>

<div th:replace="~{layout.html :: menu}">
</div>

<div th:replace="~{layout.html :: scripts}">
</div>

<button id="add-transaction-button">Lägg till utgift</button>

<!-- Pop-up Container -->
<div id="add-transaction-popup" class="popup">
    <div class="popup-content">
        <span class="close-button">&times;</span>
        <form role="form" id="transaction-form" method="post">
            <div class="form-group">
                <input type="text" id="description" name="description" placeholder="Anteckning" required>
            </div>
            <div class="form-group">
                <input type="number" id="amount" name="amount" placeholder="Summa" required>
            </div>
            <div class="form-group">
                <select id="group-dropdown" class="form-group">
                    <!-- Options will be dynamically populated -->
                </select>
            </div>
            <div class="form-group">
                <select id="category-dropdown" class="form-group">
                    <!-- Options will be dynamically populated -->
                </select>
            </div>
            <input type="submit" value="Spara">
        </form>
    </div>
</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/transactionButton.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>



</body>

</html>
