<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Spara och Para - Transaktioner</title>
  <th:block th:replace="~{layout.html :: head}"></th:block>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Navigation-->
  <!-- Page Content-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Spara och Para</h1>
        <p class="lead fw-normal text-muted mb-0">Fetch group id, name and amount</p>
      </div>
      <div class="row gx-5">
        <div th:each="transaction : ${transactions}" class="col-lg-6">
          <div class="position-relative mb-5">
            <a th:text="${transaction.id}" class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</a>
            <a th:text="${transaction.description}" class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</a>
            <a th:text="${transaction.amount}" class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div th:replace="~{layout.html :: menu}">
</div>
<div th:replace="~{layout.html :: scripts}">
</div>

</body>
</html>