<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>User Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
    <form role="form" method="post" th:action="@{/users/new}" th:object="${user}">
      <div class="form-group">
        <label for="email">Email address</label>
        <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                th:field="*{email}"
                aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
                type="text"
                class="form-control"
                id="password"
                name="password"
                th:field="*{password}">
      </div>
      <div class="form-group mb-3">
        <label for="firstName">Firstname</label>
        <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                th:field="*{firstName}">
      </div>
      <div class="form-group mb-3">
        <label for="lastName">Lastname</label>
        <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                th:field="*{lastName}">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
  </section>

</main>

</body>
</html>