<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
	<title>Page Title</title>
	<link rel="stylesheet" th:href="@{../static/css/styles.css}" />
	<!-- Other head elements as needed -->
</head>
<body>
<!-- Set the layout to use -->
<div layout:decorator="layout">
	<!-- Define the content of the page -->
	<!-- The following div should replace the th:fragment="body" in the layout.html file -->
	<div th:replace="layout :: body">
		<!-- Page content goes here -->
	</div>
</div>

<!-- Import any necessary JavaScript files -->


<!-- Import any other necessary scripts -->
</body>
</html>


